<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<div class="container">
  <div class="row">
    <% @ideas.each do |idea| %>
      <div class="flex flex-fluid-xs-33">
        <div class="frame z2">

        </div>
      </div>

        <!-- <tr>
          <td><%= idea.name %></td>
          <td><%= idea.content %></td>
          <td><%= link_to 'Show', idea %></td>
          <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
          <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr> -->
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Idea', new_idea_path %>
