
.max-h
  = form_for @idea, {:html => {class: "max-h"}} do |f|
    .row.max-h
      .flex.flex-xs-4.max-h.relative
        .leftmenu.scroll-wrap
          .scroll.column.nowrap
            .aspectwrapper-3by2.z1
              .content
                .row.max-h
                  .flex.flex-fluid-md-33.panel.a
                    .column.max-h
                      .flex.flex-xs-auto
                      .center.material= @material_a.name
                      .flex.flex-xs-auto
                  .flex.flex-fluid-md-33.panel.b
                    .column.max-h
                      .flex.flex-xs-auto
                      .center.material= @material_b.name
                      .flex.flex-xs-auto
                  .flex.flex-fluid-md-33.panel.c
                    .column.max-h
                      .flex.flex-xs-auto
                      .center.material= @material_c.name
                      .flex.flex-xs-auto
                  .row.max-h.absolute
                    .flex.flex-fluid-xs-33
                    .column.max-h
                      .flex.flex-xs-auto
                      .relative
                        .times.left.center ×
                      .flex.flex-xs-auto
                    .flex.flex-fluid-xs-33
                    .column.max-h
                      .flex.flex-xs-auto
                      .relative
                        .times.right.center ×
                      .flex.flex-xs-auto
                    .flex.flex-fluid-xs-33
            - unless @theme.nil?
              %ul.frame.z1
                %li.head 他のアイデア
                - @theme.ideas.each do |idea|
                  %li
                    = link_to idea do
                      = idea.name
            .flex.flex-xs-auto
            = f.hidden_field :a_id, value: "#{@material_a.id}"
            = f.hidden_field :b_id, value: "#{@material_b.id}"
            = f.hidden_field :c_id, value: "#{@material_c.id}"
            = f.submit "保存する", class: "button save z1"
            = link_to new_material_path, class: "button z1", target: "_blank" do
              新しくお題を作る
      .flex.flex-xs-16.max-h
        .column.max-h
          = f.text_field :name, placeholder: "タイトル", class: "title", id: "title"
          .flex.flex-xs-auto.relative#markdown-wrap
            .markdown.scroll-wrap
              = f.text_area :content, placeholder: "内容を記述", class: "scroll", id: "markdown"
            .markdown_content.scroll-wrap
              .scroll#convert
                %h1 マークダウン
                %span#fin
:javascript
  $(function(){


    var $divs = $('#markdown, #convert');
    var sync = function(e){

        var $other = $divs.not(this).off('scroll'), other = $other.get(0);
        var markdown = $("#markdown").get(0);
        var percentage = this.scrollTop / (this.scrollHeight - this.offsetHeight);
        if(other == markdown){
          console.log("markdown")
          console.log($other.scrollTop())
        }
        if(other != markdown || (other == markdown && percentage < 0.85)){
          other.scrollTop = percentage * (other.scrollHeight - other.offsetHeight);
        }
        setTimeout( function(){ $other.on('scroll', sync ); },10);
    }
    $divs.on( 'scroll', sync);

    $("#markdown, #title").keyup(function(e){
      title = $('#title')[0].value
      if(title.length == 0){
        title = "タイトル"
      }
      $.ajax({
          url: "/api/markdown/convert",
          type: "POST",
          data: {
                  markdown: $("#markdown")[0].value
                  },
          dataType: "html",
          success: function(data) {
              $("#convert").html("<h1>"+title+"</h1>" + $.parseJSON(data).markdown + '<span id="fin"></span>')
          },
          error: function(data) {
            console.log("error")
          }
      });
    });
    $("input#title"). keydown(function(e) {
      if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
        $("#markdown").focus();
        return false;
      } else {
          return true;
      }
    });
  });