.container.max-h
  = form_for @idea, {:html => {class: "max-h"}} do |f|
    .row.max-h
      .flex.flex-xs-5.max-h.relative
        .leftmenu.scroll-wrap
          .scroll
            .aspectwrapper-1by1
              .content
                .row.max-h
                  .flex.flex-md-10.panel.a
                    .column.max-h
                      .flex.flex-xs-auto
                      .center.material= @material_a.name
                      .flex.flex-xs-auto
                  .flex.flex-md-10.panel.b
                    .column.max-h
                      .flex.flex-xs-auto
                      .center.material= @material_b.name
                      .flex.flex-xs-auto
                  .row.max-h.absolute
                    .flex.flex-xs-auto
                    .column.max-h
                      .flex.flex-xs-auto
                      .times.center ×
                      .flex.flex-xs-auto
                    .flex.flex-xs-auto
            - unless @theme.nil?
              %ul.frame
                %li.head 他のアイデア
                - @theme.ideas.each do |idea|
                  %li
                    = link_to idea do
                      = idea.name
            .flex.flex-xs-auto
            = f.hidden_field :a_id, value: "#{@material_a.id}"
            = f.hidden_field :b_id, value: "#{@material_b.id}"
            = f.submit "保存する", class: "save"
      .flex.flex-xs-15.max-h
        .column.max-h
          = f.text_field :name, placeholder: "タイトル", class: "title"
          .flex.flex-xs-auto.relative
            = f.text_area :content, placeholder: "内容を記述", class: "markdown"
            .markdown_convert
              マークダウン